{% load staticfiles %}

<nav>
    <div class="megamenu_container">
        <a id="megamenu-button-mobile" href="#">Menu</a><!-- Menu button responsive-->

        <!-- Begin Mega Menu Container -->
        <ul class="megamenu">
            <!-- Begin Mega Menu -->
            <li><a href="javascript:void(0)" class="drop-down">Courses</a>
                <!-- Begin Item -->
                <div class="drop-down-container">
                    <div class="row">

                        <div class="col-md-3">
                            <h4>Quick links</h4>
                            <ul class="list-menu">
                                <li><a href="all-courses.html" title="All courses">All courses</a></li>
                                <li><a href="course-detail.html" title="Course detail">Course detail</a></li>
                                <li><a href="staff.html" title="Meet the team">Meet the team</a></li>
                                <li><a href="contact.html" title="Apply for a course">Apply for a course</a></li>
                                <li><a href="about-us.html" title="About">About </a></li>
                                <li><a href="news-events.html" title="News">News</a></li>
                                <li><a href="contact.html" title="Contact">Ask for more information</a></li>
                            </ul>
                            <p><a href="all-courses.html" title="Courses" class="button_medium add-bottom-20">View all
                                courses</a></p>
                        </div>

                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-md-4">
                                    <h5><a href="#"><i class="icon-book"></i>Administration</a> (10)</h5>
                                    <p>An utinam reprimique duo, putant mandamus cu qui. Autem possim his cu, quodsi
                                        nominavi fabellas ut sit, mea ea ullum epicurei.</p>
                                    <p><a href="course-detail.html" class="button_red_small">Read more</a></p>
                                </div>
                                <div class="col-md-4">
                                    <h5><a href="#"><i class="icon-book"></i>Business</a> (08)</h5>
                                    <p>An utinam reprimique duo, putant mandamus cu qui. Autem possim his cu, quodsi
                                        nominavi fabellas ut sit, mea ea ullum epicurei.</p>
                                    <p><a href="course-detail.html" class="button_red_small">Read more</a></p>
                                </div>
                                <div class="col-md-4">
                                    <h5><a href="#"><i class="icon-book"></i>Communication</a> (05)</h5>
                                    <p>An utinam reprimique duo, putant mandamus cu qui. Autem possim his cu, quodsi
                                        nominavi fabellas ut sit, mea ea ullum epicurei.</p>
                                    <p><a href="course-detail.html" class="button_red_small">Read more</a></p>
                                </div>
                            </div><!-- End row -->

                            <div class="row">
                                <div class="col-md-4">
                                    <h5><a href="#"><i class="icon-book"></i>Computing</a> (10)</h5>
                                    <p>An utinam reprimique duo, putant mandamus cu qui. Autem possim his cu, quodsi
                                        nominavi fabellas ut sit, mea ea ullum epicurei.</p>
                                    <p><a href="course-detail.html" class="button_red_small">Read more</a></p>
                                </div>
                                <div class="col-md-4">
                                    <h5><a href="#"><i class="icon-book"></i>Consueling</a> (08)</h5>
                                    <p>An utinam reprimique duo, putant mandamus cu qui. Autem possim his cu, quodsi
                                        nominavi fabellas ut sit, mea ea ullum epicurei.</p>
                                    <p><a href="course-detail.html" class="button_red_small">Read more</a></p>
                                </div>
                                <div class="col-md-4">
                                    <h5><a href="#"><i class="icon-book"></i>Education</a> (05)</h5>
                                    <p>An utinam reprimique duo, putant mandamus cu qui. Autem possim his cu, quodsi
                                        nominavi fabellas ut sit, mea ea ullum epicurei.</p>
                                    <p><a href="course-detail.html" class="button_red_small">Read more</a></p>
                                </div>
                            </div><!-- End row -->

                        </div><!-- End col-md-9 -->
                    </div><!-- End row -->
                </div><!-- End Item Container -->
            </li><!-- End Item -->

            <li><a href="javascript:void(0)" class="drop-down">School &amp; Academics</a>
                <!-- Begin Item -->
                <div class="drop-down-container">

                    <div class="row">

                        <div class="col-md-3">
                            <h5>Degrees</h5>
                            <ul class="list-menu">
                                <li><a href="all-courses.html" title="All courses">Prospect</a></li>
                                <li><a href="all-courses.html" title="All courses">Mission</a></li>
                                <li><a href="all-courses.html" title="All courses">President of the College</a></li>
                            </ul>
                        </div>

                        <div class="col-md-3">
                            <h5>Bacherlors</h5>
                            <ul class="list-menu">
                                <li><a href="all-courses.html" title="All courses">Quick Facts</a></li>
                                <li><a href="all-courses.html" title="All courses">Mission</a></li>
                                <li><a href="all-courses.html" title="All courses">President of the College</a></li>
                            </ul>
                        </div>

                        <div class="col-md-3">
                            <h5>Masters</h5>
                            <ul class="list-menu">
                                <li><a href="all-courses.html" title="All courses">Quick Facts</a></li>
                                <li><a href="all-courses.html" title="All courses">Mission</a></li>
                                <li><a href="all-courses.html" title="All courses">President of the College</a></li>
                            </ul>
                        </div>

                        <div class="col-md-3">
                            <h5>Courses</h5>
                            <ul class="list-menu">
                                <li><a href="all-courses.html" title="All courses">Quick Facts</a></li>
                                <li><a href="all-courses.html" title="All courses">Mission</a></li>
                                <li><a href="all-courses.html" title="All courses">President of the College</a></li>
                            </ul>
                        </div>

                    </div><!-- End row -->
                </div><!-- End Item Container -->
            </li><!-- End Item -->

            <li><a href="javascript:void(0)" class="drop-down">About</a>
                <!-- Begin Item -->
                <div class="drop-down-container">

                    <div class="row">

                        <div class="col-md-3">
                            <h4>Quick links</h4>
                            <ul class="list-menu">
                                <li><a href="all-courses.html" title="All courses">All courses</a></li>
                                <li><a href="course-detail.html" title="Course detail">Course detail</a></li>
                                <li><a href="staff.html" title="Meet the team">Meet the team</a></li>
                                <li><a href="contact.html" title="Apply for a course">Apply for a course</a></li>
                                <li><a href="about-us.html" title="About">About </a></li>
                                <li><a href="news-events.html" title="News">News</a></li>
                                <li><a href="contact.html" title="Contact">Ask for more information</a></li>
                            </ul>
                            <p><a href="all-courses.html" title="Courses" class="button_medium add-bottom-20">View all
                                courses</a></p>
                        </div>

                        <div class="col-md-9">
                            <ul class="tabs">
                                <li><a class="active" href="#section-1">Staff</a></li>
                                <li><a href="#section-2">History</a></li>
                            </ul>

                            <ul class="tabs-content">

                                <li class="active" id="section-1">
                                    <div class="row">

                                        <div class="col-md-4">
                                            <p>
                                                <img src="{% static 'img/teacher-small.jpg' %}" class="img-rounded shadow img-responsive" alt="">
                                            </p>
                                            <h5>Ms. Annie Ann <em>Management</em></h5>
                                            <p>An utinam reprimique duo, putant mandamus cu qui. Autem possim his cu,
                                                quodsi nominavi fabellas ut sit, mea ea ullum epicurei.</p>
                                            <p><a href="staff.html" class="button_red_small" title="staff">Read more</a>
                                            </p>
                                        </div>

                                        <div class="col-md-4">
                                            <p>
                                                <img src="{% static 'img/teacher-small-2.jpg' %}" class="img-rounded shadow img-responsive" alt="">
                                            </p>
                                            <h5>Ms. Annie Ann <em>Business</em></h5>
                                            <p>An utinam reprimique duo, putant mandamus cu qui. Autem possim his cu,
                                                quodsi nominavi fabellas ut sit, mea ea ullum epicurei.</p>
                                            <p><a href="staff.html" class="button_red_small" title="staff">Read more</a>
                                            </p>
                                        </div>

                                        <div class="col-md-4">
                                            <p>
                                                <img src="{% static 'img/teacher-small-3.jpg' %}" class="img-rounded shadow img-responsive" alt="">
                                            </p>
                                            <h5>Ms. Annie Ann <em>Administration</em></h5>
                                            <p>An utinam reprimique duo, putant mandamus cu qui. Autem possim his cu,
                                                quodsi nominavi fabellas ut sit, mea ea ullum epicurei.</p>
                                            <p><a href="staff.html" class="button_red_small" title="staff">Read more</a>
                                            </p>
                                        </div>

                                    </div><!-- End row -->
                                </li>

                                <li id="section-2">
                                    <p class="lead ">An utinam reprimique duo, putant mandamus cu qui. Autem possim his
                                        cu, quodsi nominavi fabellas ut sit, mea ea ullum epicurei. An utinam reprimique
                                        duo, putant mandamus cu qui.</p>
                                    <hr>

                                    <div class="row">

                                        <div class="col-md-6">
                                            <h5>History</h5>
                                            <p>An utinam reprimique duo, putant mandamus cu qui. Autem possim his cu,
                                                quodsi nominavi fabellas ut sit, mea ea ullum epicurei. An utinam
                                                reprimique duo, putant mandamus cu qui. Autem possim his cu, quodsi
                                                nominavi fabellas ut sit, mea ea ullum epicurei.</p>
                                        </div>

                                        <div class="col-md-6">
                                            <h5>Mission</h5>
                                            <p>An utinam reprimique duo, putant mandamus cu qui. <strong>Autem possim
                                                his cu</strong>, quodsi nominavi fabellas ut sit, mea ea ullum epicurei.
                                                An utinam reprimique duo, putant mandamus cu qui. Autem possim his cu,
                                                quodsi nominavi fabellas ut sit, mea ea ullum epicurei.</p>
                                        </div>

                                    </div><!-- End row -->
                                </li>

                            </ul><!-- End tabs-->
                        </div><!-- End col-md-9 -->

                    </div><!-- End row -->
                </div><!-- End Item Container -->
            </li><!-- End Item -->

            <li><a href="#" class="drop-down">Pages</a>
                <!-- Begin Item -->
                <div class="drop-down-container" id="icon-menu">
                    <div class="row">
                        <div class="col-md-3 "><a href="about-us.html" title="About "><i
                                class="icon-building icon-3x"></i>About </a></div>
                        <div class="col-md-3"><a href="about-us.html" title="Academics"><i
                                class="icon-flag icon-3x"></i>Academics</a></div>
                        <div class="col-md-3"><a href="all-courses.html" title="All courses"><i
                                class="icon-list icon-3x"></i>All courses </a></div>
                        <div class="col-md-3"><a href="course-detail.html" title="Course detail"><i
                                class="icon-book icon-3x"></i>Course detail</a></div>
                        <div class="col-md-3"><a href="staff.html" title="Staff page"><i class="icon-group icon-3x"></i>Staff
                            page</a></div>
                        <div class="col-md-3 "><a href="contact.html" title="Contact"><i
                                class="icon-envelope icon-3x"></i>Contact</a></div>
                        <div class="col-md-3"><a href="contact.html" title="Plan a visit"><i
                                class="icon-eye-open icon-3x"></i>Plan a visit</a></div>
                        <div class="col-md-3"><a href="news-events.html" title="News"><i
                                class="icon-chevron-right icon-3x"></i>News</a></div>
                        <div class="col-md-3"><a href="blog.html" title="Blog"><i class="icon-comments-alt icon-3x"></i>Blog</a>
                        </div>
                        <div class="col-md-3"><a href="blog_post.html" title="Single Post"><i
                                class="icon-comments icon-3x"></i>Single Post</a></div>
                        <div class="col-md-3"><a href="typography.html" title="Typography"><i
                                class="icon-font icon-3x"></i>Typography</a></div>
                        <div class="col-md-3"><a href="javascripts.html" title="Javascript"><i
                                class="icon-code icon-3x"></i>Javascript</a></div>
                        <div class="col-md-3"><a href="gallery.html" title="gallery"><i
                                class=" icon-picture icon-3x"></i>Photo/Video Gallery</a></div>
                        <div class="col-md-3"><a href="events_calendar.html" title="calendar"><i
                                class=" icon-calendar icon-3x"></i>Events calendar</a></div>
                    </div><!-- End row -->
                </div><!-- End Item Container -->
            </li><!-- End Item -->

            <li><a href="blog.html" class="nodrop-down">Blog</a></li>

            <li class="drop-normal"><a href="javascript:void(0)" class="drop-down">Simple drop</a>
                <div class="drop-down-container normal">
                    <ul>
                        <li><a href="about-us.html" title="About">About</a></li>
                        <li><a href="all-courses.html" title="All courses">All Courses</a></li>
                        <li><a href="course-detail.html" title="Course detail">Course detail</a></li>
                    </ul>
                </div><!-- End dropdown normal -->
            </li>

            <li><a href="javascript:void(0)" class="drop-down">Contacts</a>
                <!-- Begin Item -->
                <div class="drop-down-container">

                    <div class="row">

                        <div class="col-md-4">
                            <h4>Address</h4>
                            <ul>
                                <li><i class="icon-home"></i> 11 Fifth Ave, Loftus - NEW JERSEY, US</li>
                                <li><i class="icon-phone"></i> Telephone: + 61 (2) 8093 3400</li>
                                <li><i class="icon-phone-sign"></i> Fax: +61 (2) 9542 3599</li>
                                <li><i class="icon-envelope"></i> Email: <a href="#">submissions@domain.com</a></li>
                            </ul>
                        </div><!-- End col-md-4 -->

                        <div class="col-md-4">
                            <h5>Questions?</h5>
                            <p>An utinam reprimique duo, putant mandamus cu qui. Autem possim his cu, quodsi
                                nominavi fabellas ut sit, mea ea ullum epicurei.</p>
                            <p><a href="contact.html" class="button_red_small">Read more</a></p>
                        </div><!-- End col-md-4 -->

                        <div class="col-md-4">
                            <h5>Apply now</h5>
                            <p>An utinam reprimique duo, putant mandamus cu qui. Autem possim his cu, quodsi
                                nominavi fabellas ut sit, mea ea ullum epicurei.</p>
                            <p><a href="contact.html" class="button_red_small" title="Contact">Contact us</a>
                            </p>
                        </div><!-- End col-md-4 -->

                    </div><!-- End row-->
                </div><!-- End Item Container -->
            </li><!-- End Item -->

            {% if user.is_authenticated %}
                <li class="drop-normal"><a href="javascript:void(0)" class="drop-down">{{ user.username }}</a>
                    <div class="drop-down-container normal">
                        <ul>
                            <li><a href="{% url 'profile' user.username %}" title="">Profile</a></li>
                            <li><a href="{% url 'logout' %}" title="Course detail">Logout</a></li>
                        </ul>
                    </div>
                </li>
            {% else %}
                 <li class="drop-normal"><a href="javascript:void(0)" class="drop-down">My Account</a>
                    <div class="drop-down-container normal">
                        <ul>
                            <li><a href="{% url 'login' %}" title="Login">Login</a></li>
                        </ul>
                    </div>
                </li>
            {% endif %}

        </ul><!-- End Mega Menu -->
    </div>
</nav><!-- /navbar -->