
{% extends 'master.html' %}

{% load staticfiles %}

{% block body %}

    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <h1>Registration</h1>
                <ul class="breadcrumb">
                    <li><a href="/">Home</a><span class="divider"></span></li>
                    <li class="active">Registration</li>
                </ul>
            </div>
            <!-- =========================Start Col left section ============================= -->
            <aside class="col-md-4 col-sm-4">
                <div class="col-left">
                    <h3>Address</h3>
                    <ul>
                        <li><i class="icon-home"></i> 11 Fifth Ave, - Sydney, AU</li>
                        <li><i class="icon-phone"></i> Telephone: + 65 (2) 0000 0000</li>
                        <li><i class="icon-phone-sign"></i> Fax: +65 (2) 0000 0000</li>
                        <li><i class="icon-envelope"></i> Email: <a href="#">test@gmail.com</a></li>
                    </ul>
                    <hr>
                    <iframe height="250" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d424145.87461596983!2d150.65176872550745!3d-33.8474026547801!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b129838f39a743f%3A0x3017d681632a850!2sSydney+NSW%2C+Australia!5e0!3m2!1sen!2sbd!4v1488445424389" frameborder="0" style="border:0" allowfullscreen></iframe>
                    <br/>
                </div>
                <p>
                    <a href="/courses" title="All courses">
                        <img src="{% static 'img/banner.jpg' %}" alt="Banner" class="img-rounded img-responsive">
                    </a>
                </p>
            </aside>

            <!-- =========================Start Col right section ============================= -->
            <section class="col-md-8 col-sm-8">
                <div class="col-right">
                    <h4>Registration</h4>

                    <div id="message-contact"></div>

                    {% if errors %}
                        <ul>
                            {% for error in errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                    <form method="post" action="/register/user/" id="contactform">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                <label>Username <span class="required">* </span></label>
                                <input type="text" name="username" id="email_contact" class="form-control ie7-margin" placeholder="Username">
                            </div>
                             <div class="col-md-6">
                                <label>Email <span class="required">* </span></label>
                                <input type="email" name="email" id="email_contact" class="form-control ie7-margin" placeholder="Email">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <label>First Name <span class="required">* </span></label>
                                <input type="text" name="first_name" class="form-control ie7-margin" id="name_contact" placeholder="First Name">
                            </div>
                            <div class="col-md-6">
                                <label>Last name <span class="required">* </span></label>
                                <input type="text" name="last_name" class="form-control ie7-margin" id="lastname_contact" placeholder="Last Name">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Password <span class="required">* </span></label>
                                <input type="password" name="password" class="form-control ie7-margin" id="lastname_contact">
                            </div>
                            <div class="col-md-6">
                                <label><span class="required">*</span> Are you human? 3 + 1 =</label>
                                <input type="text" id="verify_contact" class="form-control">
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="button-align col-md-9">
                                <input type="submit" value="Submit" class="button_medium">
                            </div>
                        </div>
                        <hr>
                    </form>

                </div><!-- end col right-->
            </section>
        </div><!-- end row-->
    </div><!-- end container-->

{% endblock %}